.mac-book-air-first-view,
.mac-book-air-first-view * {
    box-sizing: border-box;
}

.mac-book-air-first-view {
    background: #ffffff;
    height: 832px;
    position: relative;
    overflow: hidden;
}

.rectangle-1 {
    background: #f5f8ff;
    width: 1280px;
    height: 333px;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
}

.image-1 {
    width: 637px;
    height: 333px;
    position: absolute;
    left: 643px;
    top: 0px;
    object-fit: cover;
}

.rectangle-2 {
    background: linear-gradient(90deg, rgba(245, 248, 255, 1.00) 0%, rgba(245, 248, 255, 0.81) 100%);
    width: 778px;
    height: 333px;
    position: absolute;
    left: 507px;
    top: 0px;
}

.button {
    background: linear-gradient(90deg, rgba(89, 156, 218, 1.00) 0%, rgba(30, 93, 139, 1.00) 100%);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 122px;
    height: 40px;
    position: absolute;
    left: 579px;
    top: 181px;
    overflow: hidden;
}

.state-layer {
    padding: 10px 24px 10px 24px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.label-text {
    color: var(--schemes-on-primary, #ffffff);
    text-align: center;
    font-family: var(--m3-label-large-font-family, 'Roboto-Medium', sans-serif);
    font-size: var(--m3-label-large-font-size, 14px);
    line-height: var(--m3-label-large-line-height, 20px);
    letter-spacing: var(--m3-label-large-letter-spacing, 0.1px);
    font-weight: var(--m3-label-large-font-weight, 500);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button2 {
    border-radius: 100px;
    border-style: solid;
    border-color: #1e5d8b;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 40px;
    position: absolute;
    left: 586px;
    top: 249px;
    overflow: hidden;
}

.label-text2 {
    color: #1e5d8b;
    text-align: center;
    font-family: var(--m3-label-large-font-family, 'Roboto-Medium', sans-serif);
    font-size: var(--m3-label-large-font-size, 14px);
    line-height: var(--m3-label-large-line-height, 20px);
    letter-spacing: var(--m3-label-large-letter-spacing, 0.1px);
    font-weight: var(--m3-label-large-font-weight, 500);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button3 {
    background: var(--schemes-surface-container-lowest, #ffffff);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 40px;
    position: absolute;
    left: 1170px;
    top: 23px;
    box-shadow: var(--m3-elevation-light-1-box-shadow, 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30));
    overflow: hidden;
}

.agora {
    color: #000000;
    text-align: center;
    font-family: var(--title-page-font-family, 'Inter-Bold', sans-serif);
    font-size: var(--title-page-font-size, 48px);
    line-height: var(--title-page-line-height, 120%);
    letter-spacing: var(--title-page-letter-spacing, -0.02em);
    font-weight: var(--title-page-font-weight, 700);
    position: absolute;
    left: 433px;
    top: 0px;
    width: 420px;
    height: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.the-only-software-solution-that-gives-you-flexibility-portability-and-quick-deployment-for-your-project-s-budget-plans {
    color: rgba(0, 0, 0, 0.49);
    text-align: center;
    font-family: var(--m3-label-large-font-family, 'Roboto-Medium', sans-serif);
    font-size: var(--m3-label-large-font-size, 14px);
    line-height: var(--m3-label-large-line-height, 20px);
    letter-spacing: var(--m3-label-large-letter-spacing, 0.1px);
    font-weight: var(--m3-label-large-font-weight, 500);
    position: absolute;
    left: 482px;
    top: 99px;
    width: 317px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle-395 {
    background: rgba(245, 248, 255, 0.81);
    border-radius: 30px;
    width: 666px;
    height: 160px;
    position: absolute;
    left: 61px;
    top: 416px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
}

.rectangle-396 {
    background: rgba(245, 248, 255, 0.81);
    border-radius: 30px;
    width: 706px;
    height: 160px;
    position: absolute;
    left: 521px;
    top: 576px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
}

.image-2 {
    width: 128px;
    height: 128px;
    position: absolute;
    left: 79px;
    top: 432px;
    object-fit: cover;
}

.create-big-powerful-networks-in-your-enterprise {
    color: #000000;
    text-align: center;
    font-family: var(--m3-title-large-font-family, 'Roboto-Regular', sans-serif);
    font-size: var(--m3-title-large-font-size, 22px);
    line-height: var(--m3-title-large-line-height, 28px);
    font-weight: var(--m3-title-large-font-weight, 400);
    position: absolute;
    left: 231px;
    top: 468px;
    width: 464px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-3 {
    width: 128px;
    height: 128px;
    position: absolute;
    left: 1075px;
    top: 591px;
    object-fit: cover;
}

.powerful-collaboration-tools-for-high-info-streams {
    color: #000000;
    text-align: center;
    font-family: var(--m3-title-large-font-family, 'Roboto-Regular', sans-serif);
    font-size: var(--m3-title-large-font-size, 22px);
    line-height: var(--m3-title-large-line-height, 28px);
    font-weight: var(--m3-title-large-font-weight, 400);
    position: absolute;
    left: 563px;
    top: 641px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.with-our-cloud-infraestructure-you-can-achieve-maximum-interoperability-between-terminals-and-only-worry-about-what-matters-you-the-most {
    color: #000000;
    text-align: center;
    font-family: var(--m3-label-large-font-family, 'Roboto-Medium', sans-serif);
    font-size: var(--m3-label-large-font-size, 14px);
    line-height: var(--m3-label-large-line-height, 20px);
    letter-spacing: var(--m3-label-large-letter-spacing, 0.1px);
    font-weight: var(--m3-label-large-font-weight, 500);
    position: absolute;
    left: 759px;
    top: 476px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-big-and-powerful-teams-to-supervise-grand-scale-projects-and-monitor-expenses-in-collaboration {
    color: #000000;
    text-align: center;
    font-family: var(--m3-label-large-font-family, 'Roboto-Medium', sans-serif);
    font-size: var(--m3-label-large-font-size, 14px);
    line-height: var(--m3-label-large-line-height, 20px);
    letter-spacing: var(--m3-label-large-letter-spacing, 0.1px);
    font-weight: var(--m3-label-large-font-weight, 500);
    position: absolute;
    left: 93px;
    top: 643px;
    display: flex;
    align-items: center;
    justify-content: center;
}